<div class="container">
    <table class="table point-table">
      <thead>
        <tr>
          <th>Team</th>
          <th>Played</th>
          <th>Won</th>
          <th>Lost</th>
          <th>Drawn</th>
          <th>Points</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Jump Smashers</td>
          <td>5</td>
          <td>3</td>
          <td>1</td>
          <td>1</td>
          <td>10</td>
        </tr>
        <tr>
          <td>Smashers Pro</td>
          <td>5</td>
          <td>2</td>
          <td>2</td>
          <td>1</td>
          <td>7</td>
        </tr>
        <tr>
          <td>Backcourt Bandits</td>
          <td>5</td>
          <td>1</td>
          <td>3</td>
          <td>1</td>
          <td>4</td>
        </tr>
       </tbody>
    </table>
  </div>
  