<!-- <nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../assets/images/Badminton_img.jpg" class="nav-logo" alt=""> 
         <span class="brand-logo-header">GME Badminton</span> 
        
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
            <a class="nav-link active text-uppercase" style="font-weight: bold;" aria-current="page" routerLink="/match" href="#">Matches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-uppercase" style="font-weight: bold;" routerLink="/point-table">Point Tables</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-uppercase" style="font-weight: bold;" routerLink="/teams">Teams</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-uppercase" style="font-weight: bold;" routerLink="/playerinfo">Player Info</a>
          </li>git push -u origin main
        </ul>
      </div>
    </div>
  </nav> -->
  <nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../assets/images/Badminton_img.jpg" class="nav-logo" alt=""> 
         <span class="brand-logo-header">GME Badminton</span>         
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active text-uppercase fw-bold" aria-current="page" routerLink="/match">Matches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-uppercase fw-bold" routerLink="/teams">Teams</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-uppercase fw-bold" routerLink="/point-table">Point Table</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-uppercase fw-bold"  routerLink="/playerinfo">Player Info</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>