main {
   
   margin: 3rem auto 0px;     
   /* background-image: url("../assets/images/bgNew.jpg"); */
   height: 650px;
  color: black;
  background-size: 50%;
  background-size: cover;

  
}

/* .toolbar {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */
