<div class="container">
    <div class="row">
     <div class="col-md-12">
       <div class="match">
         <h4>Match 1</h4>
         <h5><span class="fst-italic">Jump Smashers vs. Smashers Pro</span></h5>
         <p>Date: May 6, 2024</p>
         <p>Time: 9:00 PM</p>
       </div>
       <div class="match">
         <h4>Match 2</h4>
         <h5 class="fst-italic">Smashers Pro vs. Backcourt Bandits</h5>
         <p>Date: May 6, 2024</p>
         <p>Time: 9:10 PM</p>
       </div>
       <div class="match">
         <h4>Match 3</h4>
         <h5 class="fst-italic"> Backcourt Bandits vs.  Jump Smashers</h5>
         <p>Date: May 6, 2024</p>
         <p>Time: 9:20 PM</p>
       </div>
       <div class="match">
         <h4>Match 4</h4>
         <h5 class="fst-italic">Jump Smashers vs. Smashers Pro</h5>
         <p>Date: May 6, 2024</p>
         <p>Time: 9:30 PM</p>
       </div>
     </div>
     
   </div>
 </div>