<div class="container my-4">   
    <div class="row">
      <div class="col-md-4 team-card">
        <div class="card">
            <img src="../../assets/images/Jump-Smasher.png" width="300px" height="300px" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">Jump Smashers</h3>
              <p class="card-text">Player 1: Sudipto</p>
              <p class="card-text">Player 2: Mayank</p>             
            </div>
          </div>
      </div>
      <div class="col-md-4 team-card">
        <div class="card">
            <img src="../../assets/images/Smahers-pro.jpg" width="300px" height="300px" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">Smashers Pro</h3>
              <p class="card-text">Player 1: Sachin</p>
              <p class="card-text">Player 2: Rakshit</p>             
            </div>
          </div>
      </div>
      <div class="col-md-4 team-card">
        <div class="card">
            <img src="../../assets/images/backcourt-bandits.jpg" width="300px" height="300px" class="card-img-top" alt="...">
            <div class="card-body">
              <h3 class="card-title">Backcourt Bandits</h3>
              <p class="card-text">Player 1: Sachin</p>
              <p class="card-text">Player 2: Rakshit</p>             
            </div>
          </div>
      </div>
    </div>
  </div>
  